body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: auto;
}
.container{
    width:500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(0, 0, 0,0.1);
}
.post-header{
    display: flex;
    align-items: center;
    padding: 15px;
}
.post-header img{
    border-radius: 50%;
    height: 50px;
    margin: 12px;
}
.post-info{
    font-size: 14px;
}
.post-info p{
    margin: 3px;
}
.post-info span{
    font-size: 12px;
    color: #65676B;
}
.post-content img {
    width:100%;
    border-radius: 8px;
}
.post-caption{
    margin-top: 8px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.post-caption p{
   margin: 0;
   font-weight: bold;
}
.post-caption span{
    font-size: 12px;
    color: #65676B; 
}
.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid;
}
.reactions span{
    margin-right: 100px;
    font-size: 14px;
    color: #65676B; 
}
.share button{
    background-color: transparent;
    border: none;
    color: #65676B;
    font-size: 14px;
    cursor: pointer;
}
.fa-thumbs-up{
    padding-right: 5px;
}
.fa-comment{
    padding-right: 5px;
}
.fa-share{
    padding-right: 5px;
}
.comment{
    display: flex;
    align-items: center;
    padding: 16px;
    border-top:1px solid ;
}
.comment img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.comment-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    font-size: 14px;
  }
